@*@model Photoparallel.Data.Models.Rent*@
@model Photoparallel.Web.ViewModels.Rents.OpenRentViewModel
@using Photoparallel.Common

@{
    ViewData["Title"] = "Default";
}
<a class="" dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @if (Model != null)
    {
        <i class="fas fa-shopping-cart"></i>
        if (Model.Products.Count() != 0)
        {
            <sup class="font-weight-bold">@Model.Products.Count()</sup>
        }
    }
    Rent Cart
</a>
<div class="dropdown-menu dropdown-content bg-dark" aria-labelledby="navbarDropdown">
    @if (Model == null)
    {
        <div class="text-center">
            <p class="mb-0 py-3 font-weight-bold bg-white">Your Rent Cart is empty!</p>
        </div>
    }
    else
    {
        if (Model.Products.Count() == 0)
        {
            <div class="text-center">
                <p class="mb-0 py-3 font-weight-bold bg-white">Your Rent Cart is empty!</p>
            </div>
        }
        else
        {
            @*<div class="text-center">
                    <a asp-area="" asp-controller="Rents" asp-action="Open"><i class="fas fa-shopping-cart"></i><sup class="font-weight-bold">@Model.Products.Count()</sup> Order</a>
                </div>*@
            <div class="container mobile-fondsize-11 bg-white">
                <table class="table table-sm table-hover mb-0">
                    <thead>
                        <tr class="row">
                            <th scope="col" class="col-2 d-flex justify-content-center">Product</th>
                            <th scope="col" class="col-3 d-flex justify-content-center"></th>
                            <th scope="col" class="col-2 d-flex justify-content-center">Price per day</th>
                            <th scope="col" class="col-2 d-flex justify-content-center">Quantity</th>
                            <th scope="col" class="col-2 d-flex justify-content-center">Guarantee</th>
                            <th scope="col" class="col-1 d-flex justify-content-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr class="row">
                                <td class="col-2 d-flex justify-content-center">
                                    <img src="@product.ImageUrl" width="50" height="50">
                                </td>
                                <td class="col-3 d-flex justify-content-center p-5">
                                    <p class="text-dark">@(product.Name.Substring(0, 10))...</p>
                                </td>
                                <td class="col-2 d-flex justify-content-center p-5">@product.PricePerDay</td>
                                <td class="col-2 d-flex justify-content-center p-5">@product.RentQuantity</td>
                                <td class="col-2 d-flex justify-content-center p-5">@(Math.Round(product.Price * GlobalConstants.GuaranteePercent).ToString("F2")) lv</td>
                                <td class="col-1 d-flex justify-content-center">
                                    <a class="text-danger px-0" asp-area="" asp-controller="Rents" asp-action="DeleteProduct" asp-route-id="@product.Id"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-4 pr-0 text-center">
                    <a asp-area="" asp-controller="Rents" asp-action="Open" class="dropdown-item nav-link text-info">See Rent Cart</a>
                </div>
                <div class="col-4 pr-0 text-center">
                    <a asp-area="" asp-controller="Rents" asp-action="Rent" asp-route-id="@Model.Id" class="dropdown-item nav-link text-success">Finish Order</a>
                </div>
            </div>
        }
    }
</div>


