@model Photoparallel.Web.Areas.Administration.ViewModels.Rents.RentDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="h2 text-center text-info font-weight-bold">Rental Order Details</div>
<hr class="w-50" />
<div class="col-md-6">
    <div class="h4 font-weight-bold text-center text-info">Rental Order Details:</div>
    <div class="card card-body bg-transparent shadow">
        <div><span class="font-weight-bold">Rental Order №:</span> @Model.Id</div>
        <div><span class="font-weight-bold">Rent Status:</span> @Model.RentsStatus</div>
        <div><span class="font-weight-bold">Rental Days:</span> @Model.RentDate.ToString("dd/MM/yyyy") - @Model.ReturnDate.AddDays(-1).ToString("dd/MM/yyyy")</div>
        <div><span class="font-weight-bold">Return Date:</span> @Model.ReturnDate.ToString("dd/MM/yyyy")</div>
        <div><span class="font-weight-bold">Payment Status:</span> @Model.PaymentStatus</div>
        @if (Model.Invoice != "N/A")
        {
            <div>
                <span class="font-weight-bold">Invoice №:</span>
                <a asp-area="" asp-controller="Invoices" asp-action="RentDetails" asp-route-id="@Model.InvoiceId">
                    <u>@Model.Invoice</u>
                </a>
            </div>
        }
        else
        {
            <div><span class="font-weight-bold">Invoice №:</span> @Model.Invoice</div>
        }
        <div><span class="font-weight-bold">Rental Amount:</span> @Model.TotalPrice BGN</div>
        @if (Model.RentsStatus != "Returned")
        {
            <div><span class="font-weight-bold">Guarantee:</span> @Model.Guarantee BGN</div>
            <hr />
            <div class="h4"><span class="font-weight-bold">Grand Total:</span> @(Model.TotalPrice + Model.Guarantee) BGN</div>
        }
        else
        {
            if (Model.Penalty > 0)
            {
                <div><span class="font-weight-bold">Penalty:</span> @Model.Penalty BGN</div>
            }
            <div><span class="font-weight-bold">Returned on time:</span> @Model.ReturnedOnTime</div>
            <hr />
            <div class="h4"><span class="font-weight-bold">Grand Total:</span> @(Model.TotalPrice + Model.Penalty) BGN</div>
        }
    </div>
</div>
<div class="col-md-6">
    <div class="h4 font-weight-bold text-center text-info">Recipent Data:</div>
    <div class="card card-body bg-transparent shadow">
        <div><span class="font-weight-bold">Recipient:</span> @Model.Recipient</div>
        <hr />
        <div><span class="font-weight-bold">Phone Number:</span> @Model.RecipientPhoneNumber</div>
        <hr />
        <div><span class="font-weight-bold">Address:</span> @Model.ShippingAddress</div>
    </div>
</div>
<table class="table">
    <thead>
        <tr class="row d-flex justify-content-around">
            <th scope="col" class="col-md-2 col d-flex justify-content-center"></th>
            <th scope="col" class="col-md-1 col d-flex justify-content-center">Product №</th>
            <th scope="col" class="col-md-5 col d-flex justify-content-center">Name</th>
            <th scope="col" class="col-md-2 col d-flex justify-content-center">Price per day</th>
            <th scope="col" class="col-md-1 col d-flex justify-content-center">Days</th>
            <th scope="col" class="col-md-1 col d-flex justify-content-center">Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rent in Model.RentProductsViewModel)
        {
            <tr class="row d-flex justify-content-around">
                <td class="col-md-2 col d-flex justify-content-center">
                    <img src="@rent.ImageUrl" width="50" height="50">
                </td>
                <td class="col-md-1 col d-flex justify-content-center">
                    @rent.ProductId
                </td>
                <td class="col-md-5 col d-flex justify-content-center">
                    @rent.ProductName
                </td>
                <td class="col-md-2 col d-flex justify-content-center">
                    @rent.PricePerDay BGN
                </td>
                <td class="col-md-1 col d-flex justify-content-center">
                    @Model.Days
                </td>
                <td class="col-md-1 col d-flex justify-content-center">
                    @(rent.PricePerDay * Model.Days) BGN
                </td>
            </tr>
        }
    </tbody>
</table>
