@model Photoparallel.Web.Areas.Administration.ViewModels.Orders.OrderDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="h2 text-center text-info font-weight-bold">Order Details</div>
<hr class="w-50" />
<div class="col-md-6">
    <div class="h4 font-weight-bold text-center text-info">Order Details:</div>
    <div class="card card-body bg-transparent shadow">
        <div><span class="font-weight-bold">Order №:</span> @Model.Id</div>
        <div><span class="font-weight-bold">Created On:</span> @Model.CreatedOn</div>
        <div><span class="font-weight-bold">Order Status:</span> @Model.OrderStatus</div>
        <div><span class="font-weight-bold">Payment Status:</span> @Model.PaymentStatus</div>
        @if (Model.OrderStatus == "Delivered")
        {
            <div><span class="font-weight-bold">Delivered On:</span> @Model.EstimatedDeliveryDate</div>
        }
        else
        {
            <div><span class="font-weight-bold">Estimated Delivery Date:</span> @Model.EstimatedDeliveryDate</div>
        }
        @if (Model.Invoice != "N/A")
        {
            <div>
                <span class="font-weight-bold">Invoice №:</span>
                <a asp-area="" asp-controller="Invoices" asp-action="Details" asp-route-id="@Model.InvoiceId">
                    <u>@Model.Invoice</u>
                </a>
            </div>
        }
        else
        {
            <div><span class="font-weight-bold">Invoice №:</span> @Model.Invoice</div>
        }
        <div><span class="font-weight-bold">All Products:</span> @Model.TotalPrice BGN</div>
        <div><span class="font-weight-bold">Shipping:</span> @Model.Shipping BGN</div>
        <hr />
        <div class="h4"><span class="font-weight-bold">Grand Total:</span> @Model.GrandTotal BGN</div>
    </div>
</div>
<div class="col-md-6">
    <div class="h4 font-weight-bold text-center text-info">Recipent Data:</div>
    <div class="card card-body bg-transparent shadow">
        <div><span class="font-weight-bold">Recipient:</span> @Model.Recipient</div>
        <hr />
        <div><span class="font-weight-bold">Phone Number:</span> @Model.RecipientPhoneNumber</div>
        <hr />
        <div><span class="font-weight-bold">Address:</span> @Model.ShippingAddress</div>
    </div>
</div>
<table class="table">
    <thead>
        <tr class="row d-flex justify-content-around">
            <th scope="col" class="col-md-2 col d-flex justify-content-center"></th>
            <th scope="col" class="col-md-1 col d-flex justify-content-center">Product №</th>
            <th scope="col" class="col-md-4 col d-flex justify-content-center">Name</th>
            <th scope="col" class="col-md-2 col d-flex justify-content-center">Price</th>
            <th scope="col" class="col-md-1 col d-flex justify-content-center">Quantity</th>
            <th scope="col" class="col-md-2 col d-flex justify-content-center">Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.OrderProductsViewModel)
        {
            <tr class="row d-flex justify-content-around">
                <td class="col-md-2 col d-flex justify-content-center">
                    <img src="@product.ImageUrl" width="50" height="50">
                </td>
                <td class="col-md-1 col d-flex justify-content-center">
                    @product.ProductId
                </td>
                <td class="col-md-4 col d-flex justify-content-center">
                    @product.ProductName
                </td>
                <td class="col-md-2 col d-flex justify-content-center">
                    @product.Price BGN
                </td>
                <td class="col-md-1 col d-flex justify-content-center">
                    @product.Quantity
                </td>
                <td class="col-md-2 col d-flex justify-content-center">
                    @(product.Price * product.Quantity) BGN
                </td>
            </tr>
        }
    </tbody>
</table>

