@model Photoparallel.Web.Areas.Administration.ViewModels.Orders.OrderDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="h2 text-center text-info font-weight-bold">Order Details</div>
<hr class="w-50" />
<div class="container">
    <div class="mx-auto">
        <hr class="hr-2">
        <div class="d-flex justify-content-around">
            <div class="d-flex flex-column">
                <h4 class="text-center">Order №</h4>
                <h5 class="text-center mt-1">@Model.Id</h5>
            </div>
            <div class="d-flex flex-column">
                <h4 class="text-center">Created on</h4>
                <h5 class="text-center mt-1">@Model.CreatedOn</h5>
            </div>
            <div class="d-flex flex-column">
                <h4 class="text-center">Order Value</h4>
                <h5 class="text-center mt-1">@Model.TotalPrice lv.</h5>
            </div>
        </div>
        <hr class="hr-2">
        <div class="d-flex justify-content-around">
            <div class="d-flex flex-column">
                <h4 class="text-center">Shipping Address</h4>
                <h5 class="text-center mt-1">@Model.ShippingAddress</h5>
            </div>
            <div class="d-flex flex-column">
                <h4 class="text-center">Status</h4>
                <h5 class="text-center mt-1">@Model.OrderStatus.ToString()</h5>
            </div>
            <div class="d-flex flex-column">
                <h4 class="text-center">Estimated Delivery Date</h4>
                <h5 class="text-center mt-1">@Model.EstimatedDeliveryDate</h5>
            </div>
        </div>
        <hr class="hr-2">
        <div class="w-75 mx-auto d-flex justify-content-between">
            <div class="d-flex flex-column w-50">
                <h4 class="text-center">Customer</h4>
                <h5 class="text-center mt-1">@Model.FirstName @Model.LastName</h5>
            </div>
            <div class="d-flex flex-column w-50">
                <h4 class="text-center">Phone</h4>
                <h5 class="text-center mt-1">@Model.PhoneNumber</h5>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr class="row d-flex justify-content-around">
                <th scope="col" class="col-md-2 col d-flex justify-content-center"></th>
                <th scope="col" class="col-md-1 col d-flex justify-content-center">Product №</th>
                <th scope="col" class="col-md-6 col d-flex justify-content-center">Name</th>
                <th scope="col" class="col-md-1 col d-flex justify-content-center">Quantity</th>
                <th scope="col" class="col-md-1 col d-flex justify-content-center">Price</th>
                <th scope="col" class="col-md-1 col d-flex justify-content-center">Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.OrderProductsViewModel)
            {
                <tr class="row d-flex justify-content-around">
                    <td class="col-md-2 col d-flex justify-content-center">
                        <img src="@product.ImageUrl" width="50" height="50">
                    </td>
                    <td class="col-md-1 col d-flex justify-content-center">
                        @product.ProductId
                    </td>
                    <td class="col-md-6 col d-flex justify-content-center">
                        @product.ProductName
                    </td>
                    <td class="col-md-1 col d-flex justify-content-center">
                        @product.Quantity
                    </td>
                    <td class="col-md-1 col d-flex justify-content-center">
                        @product.Price lv.
                    </td>
                    <td class="col-md-1 col d-flex justify-content-center">
                        @(product.Price * product.Quantity) lv.
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @if (Model.OrderStatus == "Pending")
        {
            <div class=" m-3 d-flex justify-content-between">
                <a asp-area="Administration" asp-controller="Orders" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-lg">Delete</a>

                <a asp-area="Administration" asp-controller="Orders" asp-action="Approve" asp-route-id="@Model.Id" class="btn btn-success btn-lg">Approve</a>

                <a asp-area="Administration" asp-controller="Orders" asp-action="Pending" class="btn btn-info btn-lg">Back</a>
            </div>
        }
    </div>
</div>


