@model IEnumerable<Photoparallel.Web.ViewModels.Invoices.MyInvoicesViewModel>

@{
    ViewData["Title"] = "My";
}

    <div class="row">
        <div class="col-xl-6">
            <div class="container mobile-fondsize-11">
                <div class="h2 text-center text-info font-weight-bold">My Invoices</div>
                <table class="table">
                    <thead>
                        <tr class="row">
                            <th scope="col" class="col-md-2 col d-flex justify-content-center">№</th>
                            <th scope="col" class="col-md-2 col d-flex justify-content-center">Invoice Number</th>
                            <th scope="col" class="col-md-3 col d-flex justify-content-center">Issued On</th>
                            <th scope="col" class="col-md-3 col d-flex justify-content-center">Total Amount</th>
                            <th scope="col" class="col-md-2 col d-flex justify-content-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var invoices = Model.ToArray();
                        }
                        @for (int i = 0; i < invoices.Length; i++)
                        {
                            var invoice = invoices[i];

                            <tr class="row">
                                <td class="col-md-2 col d-flex justify-content-center">
                                    @(i + 1)
                                </td>
                                <td class="col-md-2 col d-flex justify-content-center">
                                    @invoice.InvoiceNumber
                                </td>
                                <td class="col-md-3 col d-flex justify-content-center">
                                    @invoice.IssuedOn
                                </td>
                                <td class="col-md-3 col d-flex justify-content-center">
                                    @invoice.TotalAmount BGN
                                </td>
                                <td class="col-md-2 col d-flex justify-content-around">
                                    <div class="mr-2">
                                        <a asp-area="" asp-controller="Invoices" asp-action="Details" asp-route-id="@invoice.Id" class="btn btn-info btn-sm">Details</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
